
.shell {
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr 1fr;
    margin: 50px auto;
    width: 150px;
    height: 200px;
    background-color: darkseagreen;
    border-radius: 4px;
}

.shell__title {
    padding-top: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.shell__title p {
    font-size: 16px;
    font-weight: 400;
}